/* src/App/App.css */
.app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}


.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
}
